* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  
  background-color: #404144;
  font-family: 'Roboto', sans-serif;
}

#search-form {
  width: 500px;
}

#search-field {
  width: 100%;
  height: 50px;
  padding: 10px;
  border: 0;

  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

#search-field:focus {
  outline: 0;
}

#card {
  display: none;
  column-gap: 20px;
  width: 700px;
  padding: 30px;

  background-color: #FF7897;
  color: #eee;
  border-radius: 10px;
}

#profile-picture {
  min-width: 150px;
  width: 150px;
  height: 150px;
  overflow: hidden;

  border-radius: 50%;
}

#profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#user-info > * {
  margin: 0;
  padding: 0;
}

#username {
  margin-bottom: 10px;
}

#user-bio, #user-stats {
  margin-bottom: 20px;
}

#user-stats {
  display: flex;
  column-gap: 30px;
  align-items: center;
}

#user-repos {
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
  row-gap: 15px;
  align-items: center;
}

.repo {
  padding: 8px;
  font-size: 0.8rem;

  background-color: #43424e;
  border-radius: 5px;
}
